.header {
  // color: white;
  margin-bottom: 0;
  background-color: #c8cdd0;

  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  .headerContent {
    position: relative;
    // background-image: url("/header.png");
    background-color: #9fb3f9;
    font-size: 1em;
    padding: 1em 2.5em 3em 2.5em;
    display: grid;
    place-items: center;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 0 27px 0,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    color: black;
    // text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.46);
    h3,
    h5 {
      z-index: 10;
    }
    h3 {
      font-size: 1.2em;
    }

    h5 {
      font-size: 0.7em;
    }

    nav {
      display: none;
      position: absolute;
      right: 2em;
      top: 1em;

      span {
        padding-left: 2em;
      }
    }
  }

  .nav {
    padding: 1em;
    display: flex;
    justify-content: flex-end;

    .menus {
      display: none;
      color: black;

      Button {
        color: black;
      }
    }
  }

  .headerImg {
    position: relative;
    // z-index: -10;
  }

  h3,
  h5 {
    margin: 0;
    padding: 0.3rem;
    font-weight: bold;
  }

  h2 {
    font-size: 1.1em;
  }

  h4 {
    font-size: 1em;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .headerContent {
    .logoIcon {
      min-width: 7em;
      min-height: 7em;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .nav {
    display: flex;
    justify-content: space-evenly !important;

    .menus {
      display: block !important;
    }

    .icon {
      display: none;
    }
  }

  .headerContent {
    .logoIcon {
      min-width: 9em;
      min-height: 9em;
    }

    nav {
      display: block !important;
      cursor: pointer;
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
