.bigLine {
  display: grid;
  place-items: center;
  width: 100%;
  div {
    border-top: 1px solid black;
    box-sizing: border-box;
    width: 40%;
    max-width: 170px;
    min-width: 90px;
    height: 0.1em;
  }
}
.sidebar{
    article {
      display: grid;
    //   place-items: center;
      padding: 2em 3.5em;
      h3{
        text-align: center;
        font-weight: 500;
        font-size: 1.25em;
        margin-bottom: 0.5em;
      }
      span{
        color: #0c2375;
        padding: 0.5em;
        padding-right: 3em;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        p{
            display: flex;
        }
      }
    }
    .search{
      input{
        margin: 1em 0;
      }
    }
  }

  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .sidebar{
    order: 1;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}