.loadingScreen,
.errorScreen {
  min-height: 50vh;
  min-width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 2em;
  display: grid;

  .modal {
    background-color: red;
    display: grid;
    justify-content: center;
  }

  h3 {
    display: grid;
    justify-content: center;
  }

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.2em;
  }

  .previewImgHolder {
    padding: 2em;
    display: flex;
    justify-content: space-around;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .previewImg {
      position: relative;
      height: 9em;
      width: 9em;
    }
  }

  .alert {
    min-height: 4em;
    padding-bottom: 1em;
  }

  .submitButton {
    justify-content: center;
    padding: 2em 0;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  .main,
  .loadingScreen,
  .errorScreen {
    min-width: 60vw;
    max-width: 60vw;
  }

  .previewImg {
    width: 11em;
    height: 11em;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}