.editoryPolicyMenu {
  padding: 0;
  margin: 0;
}

.nav {
  background-color: #c8cdd0;
}

.box {
}

//common
.authorswork {
  .titleLine {
    display: flex;
    justify-content: space-around;
  }
  .authorName {
    font-style: italic;
    font-size: 0.7em;
  }
  display: grid;
  article {
    margin-bottom: 2.5em;
  }
  h3 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .imgAndDesc {
    display: flex;
    justify-content: space-between;
    .bookCover {
      position: relative;
      min-width: 33vw;
      min-height: 33vw;
      margin-right: 4em;
      //   flex: 0 0 25%;
    }
  }

  .likeDownload {
    display: flex;
    justify-content: space-around;
  }

  .deleteDownload {
    display: flex;
    justify-content: space-between;
  }
  overflow-x: hidden;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .bookCover {
    min-width: 18vw !important;
    min-height: 18vw !important ;
    //   flex: 0 0 25%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .main {
    display: flex;
    justify-content: center;
    padding-right: 2vw;
    padding-left: 2vw;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .main {
    display: flex;
    justify-content: center;
    padding-right: 10vw;
    padding-left: 10vw;
  }
}
